<% layout('partials/layout') -%>
<section>
  <h2>Dashboard</h2>
  <div class="dashboard-buttons">
    <a href="/students"><button>Add Students</button></a>
    <a href="/marks"><button>Marksheet</button></a>
    <a href="/attendance"><button>Attendance</button></a>
  </div>
  
  <div style="text-align: center; margin-top: 2rem;">
    <a href="/marks/summary"><button type="button">View Marks Summary</button></a>
  </div>
</section>
